
body {
	background-color:  #03a9f4;
	font-family: serif;
}
ul {
	padding-bottom: 50px;
	
	width: 100%;
}
li {
	padding: 0px !important;
	color: #01579b;
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
}
p {
	width: 30px;
    width: 60%;
    overflow: inherit;
    text-overflow: ellipsis;
    text-align: center;
}

.page {
	
	display: flex;
	flex-direction:column;
	justify-content:center;
}
.header {
	display: flex;
	align-items:center;
	color: white;
    justify-content: center;
    text-align: center;
    font-size: 34px;
    height: 60px;
    
    background-color: #01579b;
}
.header__text {
	color: white;
}

.mainbody {
	display: flex;
	flex-direction:row;
	padding-top: 25px;
	justify-content: space-around;
}
.mainbodyall__head {
	color: white;
	font-size: 20px;
	text-align: center;
}
.card__feature {
	width: 100%;
	background-color: #01579b !important;
	color: white;
	display: flex;
	
}
.todo {
	display: flex;
	flex-direction:column;
	justify-content:center;
	align-self: flex-start;
	width: 23%;
	background-color: #01579b !important;
	
}
.todo__new {
	width: 70%;
    margin: auto;
    margin-top: 50px;

}
#task {
	width: 100%;
	border-bottom: 1px solid #f9f8f8;
	margin-bottom: 0px;
}
#add {
	
	color: black;
	width: 25%;
	background-color: white;
}
#add :active {
  background-color: red;  
}
#add :target {
  background-color: red;  
}
.progres {
	display: flex;
	flex-direction:column;
	justify-content:center;
	align-self: flex-start;
	width: 23%;
	background-color: #01579b !important;
}


.review {
	display: flex;
	flex-direction:column;
	justify-content:center;
	align-self: flex-start;
	width: 23%;
	background-color: #01579b !important;
}
.done {
	display: flex;
	flex-direction:column;
	justify-content:center;
	align-self: flex-start;
	width: 23%;
	background-color: #01579b !important;
}
.god {
	width: 100%;
    height: 100%;
    background-color: transparent;
}
.remove {
	color: red;
    float: right;
    display: flex;
    
}
.rmbtn {
	height: 100%;
}